body {
	margin: 0px;
	font-family:'Open Sans Condensed', sans-serif;
	background-color: rgb(240,248,255);
}
header {
	box-shadow: 0 8px 20px -1px  gray;
	background-color: cornflowerblue;
	padding: 10px ;
	color: white;
	text-align: left;
	font-size: 27px;
	
}
div.chirper-cols{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(256px, auto));
	grid-gap: 20px;
	margin: 10px;
}
h1{
	border: 1px dotted black;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	
}

h2:first-letter{
	color: cornflowerblue;
	
}
div.chirper-col:nth-child(3) div.chirper-card{
	background-color: antiquewhite;
}
div.chirper-col:nth-child(1) div.chirper-card:first-of-type{
	background-color: antiquewhite;
}
div.chirper-card{
	border-radius: 12px;
	border: 1px hidden black;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: white;
	box-shadow: 8px 8px 20px -1px gray;
	box-shadow: -8px 8px 20px -1px gray;
}
div.chirper-card img{
	border-radius: 50%;
	width: 64px;
	height: 64px;
	float: left;
	display: grid;
	padding-top: 20px;
	padding-bottom: 10px;
	padding-right: 12px;
}

div.chirp {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	
}
div.chirp h2{
	border-bottom: 1px dotted black;
}




